<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="teble-wrap">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
        <thead>
          <tr>
            <th>S/N</th>
            <th> LABOUR SITE ID</th>
            <th> FROM DATE</th>
            <TH>TO DATE</TH>
            <th> PAYMENT RATE </th>
            <th>LABOUR SITE</th>
            <th> PERIOD</th>
            <th>PAYMENT </th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of labour; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.LabourSiteId}}</td>
            <td>{{e.FromDate}}</td>
            <td>{{e.ToDate}}</td>
            <td>{{e.PaymentRate}}</td>
            <td> {{e.LabourSite}}</td>
            <td> {{e.Period}}</td>
            <td>{{e.Payment}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>