<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr>
            <th>S/N</th>
            <th> MATERIAL ID</th>
            <th> MATERIAL</th>
            <th> SITE ID</th>
            <th>QUANTITY</th>
            <th>SITE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of materialUsedData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.MaterialId}}</td>
            <td>{{e.MAterial}}</td>
            <td>{{e.SiteId}}</td>
            <td>{{e.Quantity}}</td>
            <td> {{e.Site}}</td>
            <td><app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>