
<h3>  MATERIAL USED LIST </h3>

<div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th> MATERIAL ID</th>
          <th> MATERIAL</th>
          <th> SITE ID</th>
          <th>QUANTITY</th>
          <th>SITE</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
        </tr>
      </tbody>
    </table>
  </div>