<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #peipaymentform="ngForm" (ngSubmit)="peiPaymentSubmit(peipaymentform.value)">
                <div class="from-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                PE Income Id:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                PE Income:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Method:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Payment Type:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Payment Date:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-6">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" class="form-control" [(ngModel)]="peiPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <button type="submit" [disabled]="" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>

