<app-card [title]="title" (popUp)="OpenModalPopUp()">
<h3> reepayment transaction list Table Information </h3>

<div class="container-fluid">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>Rented Equipment Id</th>
          <th>Rented Equipment</th> 
          <th>Vendor Id</th>
          <th>Vendor</th>
          <th>Expenses Type</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Expenses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>