<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr>
            <th>Rented Equipment Id</th>
            <th>Rented Equipment</th>
            <th>Vendor Id</th>
            <th>Vendor</th>
            <th>Expenses Type</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Expenses</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>NIX HOUSE SITE</td>
            <td>3</td>
            <td>BAgmati</td>
            <td>Construction</td>
            <td>3</td>
            <td>BAgmati</td>
            <td>Construction</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>