<aside class="main-sidebar sidebar-dark-primary elevation-4 custom-sidebar" style="position: fixed;">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">Property Management</span>
    </a>

    <div class="sidebar" style="height: 100%;">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-legacy"
                data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link">
                        <p>
                            Menu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <!-- Tree View Client -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Client
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Client Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a class="nav-link" [routerLink]="['client']">
                                        <p class="active">
                                            Client
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Vendor -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Vendor
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site Vendor -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['vendor']" class="nav-link">
                                        <p class="active">
                                            Vendor
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Site -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Site
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['site']" class="nav-link">
                                        <p class="active">
                                            Site
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Contract -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Contract
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Contract Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['extend-give-contract']" class="nav-link">
                                        <p class="active">
                                            Extend Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['extend-take-contract']" class="nav-link">
                                        <p class="active">
                                            Extend Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['gcp-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Give Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['give-contract']" class="nav-link">
                                        <p class="active">
                                            Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['take-contract']" class="nav-link">
                                        <p class="active">
                                            Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['tcp-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Take Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- Tree View Employee -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Employee
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Employee Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['employee']" class="nav-link">
                                        <p class="active">
                                            Employee
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['employee-payment']" class="nav-link">
                                        <p class="active">
                                            Employee Payments
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Labour -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Labour
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Material Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour']" class="nav-link">
                                        <p class="active">
                                            Labour
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour-site']" class="nav-link">
                                        <p class="active">
                                            Labour Site
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour-payment']" class="nav-link">
                                        <p class="active">
                                            Labour Payment
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Material -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Material
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Material Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material']" class="nav-link">
                                        <p class="active">
                                            Material
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-bought']" class="nav-link">
                                        <p class="active">
                                            Material Bought
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-stock']" class="nav-link">
                                        <p class="active">
                                            Material Stock
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-used']" class="nav-link">
                                        <p class="active">
                                            Material Used
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-sold']" class="nav-link">
                                        <p class="active">
                                            Material Sold
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['mb-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Material Bought Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['ms-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Material Sold Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Personal Equipment -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Personal Equipment
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Personal Equipement Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['personal-equipment']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pe-bought']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Bought
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['peb-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Bought Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pe-income']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Income
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pei-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Income Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pe-expenses']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Expenses
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pee-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Equipement Expenses Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Personal Vehicle -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Personal Vehicle
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Personal Vehicle Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['personal-vehicle']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pv-bought']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Bought
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pvb-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Bought Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pv-income']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Income
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pvi-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Income Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pv-expenses']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Expenses
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['pve-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Personal Vehicle Expenses Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Rented Equipment -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Rented Equipment
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Rented Equipment Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rented-equipment']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['re-rent']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Rent
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rer-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Rent Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['re-income']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Income
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rei-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Income Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['re-expenses']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Expenses
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['ree-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Equipment Expenses Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Rented Equipment -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Rented Vehicle
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Rented Equipment Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rented-vehicle']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rv-rent']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Rent
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rvr-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Rent Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rv-income']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Income
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rvi-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Income Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rv-expenses']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Expenses
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['rve-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Rented Vehicle Expenses Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View User -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    User
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site User -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['user']" class="nav-link">
                                        <p class="active">
                                            User
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>