<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">Property Management</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-legacy"
                data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link">
                        <p>
                            Menu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <!-- Tree View Client -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Client
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Client Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Client
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Contract -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Contract
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Contract Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Extend Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Extend Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Give Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Take Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


        <!-- Tree View Employee -->
        <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
                <a class="nav-link">
                    <p class="active">
                        Employee
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <!-- Employee Items -->
                <ul class="nav nav-treeview">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <p class="active">
                                Employee
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <p class="active">
                                Employee Payments
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Tree View Labour -->
        <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
                <a class="nav-link">
                    <p class="active">
                        Labour
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <!-- Material Items -->
                <ul class="nav nav-treeview">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <p class="active">
                                Labour
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

                <!-- Tree View Material -->
                <ul class="nav nav-treeview">
                    <li class="nav-item has-treeview">
                        <a class="nav-link">
                            <p class="active">
                                Material
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <!-- Material Items -->
                        <ul class="nav nav-treeview">
                            <li class="nav-item has-treeview">
                                <a href="#" class="nav-link">
                                    <p class="active">
                                        Material
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

                        <!-- Tree View Personal Equipment -->
                        <ul class="nav nav-treeview">
                            <li class="nav-item has-treeview">
                                <a class="nav-link">
                                    <p class="active">
                                        Personal Equipment
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <!-- Personal Equipement Items -->
                                <ul class="nav nav-treeview">
                                    <li class="nav-item has-treeview">
                                        <a href="#" class="nav-link">
                                            <p class="active">
                                                Personal Equipement
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
        <!-- Tree View Personal Vehicle -->
        <ul class="nav nav-treeview">
            <li class="nav-item has-treeview">
                <a class="nav-link">
                    <p class="active">
                        Personal Vehicle
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <!-- Personal Vehicle Items -->
                <ul class="nav nav-treeview">
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <p class="active">
                                Personal Vehicle
                            </p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
                <!-- Tree View Rented Equipment -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Rented Equipment
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Rented Equipment Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a href="#" class="nav-link">
                                        <p class="active">
                                            Rented Equipment
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                            <!-- Tree View Site -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a class="nav-link">
                                        <p class="active">
                                            Site
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <!-- Site Items -->
                                    <ul class="nav nav-treeview">
                                        <li class="nav-item has-treeview">
                                            <a href="#" class="nav-link">
                                                <p class="active">
                                                    Site
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>