<aside class="main-sidebar sidebar-dark-primary elevation-4 custom-sidebar" style="position: fixed;">
    <a href="/" class="brand-link">
        <span class="brand-text font-weight-light">Property Management</span>
    </a>

    <div class="sidebar" style="height: 100%;">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-compact nav-legacy"
                data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a class="nav-link">
                        <p>
                            Menu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <!-- Tree View Client -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Client
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Client Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a class="nav-link" [routerLink]="['client']">
                                        <p class="active">
                                            Client
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Vendor -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Vendor
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site Vendor -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['vendor']" class="nav-link">
                                        <p class="active">
                                            Vendor
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Site -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Site
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['site']" class="nav-link">
                                        <p class="active">
                                            Site
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Tree View Contract -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Contract
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Contract Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['extend-give-contract']" class="nav-link">
                                        <p class="active">
                                            Extend Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['extend-take-contract']" class="nav-link">
                                        <p class="active">
                                            Extend Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['gcp-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Give Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['give-contract']" class="nav-link">
                                        <p class="active">
                                            Give Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['take-contract']" class="nav-link">
                                        <p class="active">
                                            Take Contract
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['tcp-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Take Contract Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- Tree View Employee -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Employee
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Employee Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['employee']" class="nav-link">
                                        <p class="active">
                                            Employee
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['employee-payment']" class="nav-link">
                                        <p class="active">
                                            Employee Payments
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Labour -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Labour
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Material Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour']" class="nav-link">
                                        <p class="active">
                                            Labour
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour-site']" class="nav-link">
                                        <p class="active">
                                            Labour Site
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['labour-payment']" class="nav-link">
                                        <p class="active">
                                            Labour Payment
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Tree View Material -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    Material
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Material Items -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material']" class="nav-link">
                                        <p class="active">
                                            Material
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-bought']" class="nav-link">
                                        <p class="active">
                                            Material Bought
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-stock']" class="nav-link">
                                        <p class="active">
                                            Material Stock
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-used']" class="nav-link">
                                        <p class="active">
                                            Material Used
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['material-sold']" class="nav-link">
                                        <p class="active">
                                            Material Sold
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['mb-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Material Bought Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['ms-payment-transaction']" class="nav-link">
                                        <p class="active">
                                            Material Sold Payment Transaction
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>


                    <!-- Tree View User -->
                    <ul class="nav nav-treeview">
                        <li class="nav-item has-treeview">
                            <a class="nav-link">
                                <p class="active">
                                    User
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <!-- Site User -->
                            <ul class="nav nav-treeview">
                                <li class="nav-item has-treeview">
                                    <a [routerLink]="['user']" class="nav-link">
                                        <p class="active">
                                            User
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>

