<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #materialsoldform="ngForm" (ngSubmit)="materialSoldSubmit(materialsoldform.value)">
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Material ID:</label>
                            <input type="text" [(ngModel)]="materialSold.MaterialId" name="MaterialId" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Material:</label>
                            <input type="text" [(ngModel)]="materialSold.Material" name="Material" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Client ID:</label>
                            <input type="text" [(ngModel)]="materialSold.ClientId" name="CLientId" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Client:</label>
                            <input type="text" [(ngModel)]="materialSold.Client" name="Client" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Site ID:</label>
                            <input type="text" [(ngModel)]="materialSold.SiteId" name="SiteId" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Site:</label>
                            <input type="text" [(ngModel)]="materialSold.Site" name="Site" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Quantity:</label>
                            <input type="text" [(ngModel)]="materialSold.Quantity" name="Quantity" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Rate:</label>
                            <input type="text" [(ngModel)]="materialSold.Rate" name="Rate" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Total Price:</label>
                            <input type="text" [(ngModel)]="materialSold.TotalPrice" name="TotalPrice" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Sold Date:</label>
                            <input type="text" [(ngModel)]="materialSold.SoldDate" name="SoldDate" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" [(ngModel)]="materialSold.UDF1" name="UDF1" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" [(ngModel)]="materialSold.UDF2" name="UDF2" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" [disabled]="!materialsoldform.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>
