<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #materialsoldform="ngForm" (ngSubmit)="materialSoldSubmit()">
                <div class="form-group text-uppercase">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="material">
                                Material:</label>
                            <select type="text" [(ngModel)]="data.Material" name="Material" class="form-control mb-2" id="material" #material="ngModel" [class.is-invalid]="material.dirty && material.invalid">
                                <option value="0">please select material</option>
                                <option *ngFor="let m of materials;" value="{{m.Id}}">{{m.MaterialName}}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label for="client">
                                Client:</label>
                            <input type="text" [(ngModel)]="data.Client" name="Client" class="form-control mb-2" id="client">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Site:</label>
                            <input type="text" [(ngModel)]="data.Site" name="Site" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Quantity:</label>
                            <input type="number" [(ngModel)]="data.Quantity" name="Quantity" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Rate:</label>
                            <input type="number" [(ngModel)]="data.Rate" name="Rate" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Total Price:</label>
                            <input type="currency" [(ngModel)]="data.TotalPrice" name="TotalPrice" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Sold Date:</label>
                            <input type="date" [(ngModel)]="data.SoldDate" name="SoldDate" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" [(ngModel)]="data.UDF1" name="UDF1" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" [(ngModel)]="data.UDF2" name="UDF2" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <button type="submit" [disabled]="!materialsoldform.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>

