<app-list-detail-card [title]="title">
    <ng-content></ng-content>
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>First Name:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Middle Name:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Last Name:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>State:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>District:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Muncipility:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Contact Number:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Email:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Identity Type:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Identity Number:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Client Type:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Client Company Name:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Client Company Contact Number:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Client Company Identity Type:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Client Company Identity Number:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>UDF1:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>UDF2:</label>
                    </div>
                    <div class="col">{{data}}</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>

