<app-card [title]="title" (popUp)="OpenModalPopUp()">
<h3>  LABOUR SITE LIST </h3>

<div class="container-fluid">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th>LABOUR ID</th>
          <th> LABOUR TYPE</th>
          <th>LABOUR PAYEMENT TYPE</th>
          <th>SITE ID</th>
          <th> SITE</th>
          <th>IDENITYT NUMBER </th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>