<div class="card" style="height: 85vh;">
    <div class="card-header">
        <h2 class="card-title">{{title}}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col float-right">
                <a class="btn m-1 btn-sm btn-info float-right" (click)="emitEventForModalPopUp($event)">
                    Create New
                </a>
            </div>
        </div>
        <div class="row">
            <form>
                <div class="form-group row">
                    <div class="col-md-5">
                        <input class="form-control" type="text" id="Name" name="Name" required
                            placeholder="Search by Tenant">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-sm btn-info m-1">
                            Search
                        </button>
                        <button type="button" class="btn btn-sm btn-danger m-1">
                            Refresh
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <ng-content></ng-content>
        </div>
    </div>
    <div class="card-footer">
        This is footer
    </div>
</div>