<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="table-wrap">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
        <thead>
          <tr>
            <th>S/N</th>
            <th>RERent Id</th>
            <th>RE Rent</th>
            <th>Payment Type</th>
            <th>Payment Method</th>
            <th>Payment</th>
            <th>Payment Date</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of pviPaymentData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.PersonalVehicleId}}</td>
            <td>3</td>
            <td>BAgmati</td>
            <td>Construction</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>