<app-card [title]="title" (popUp)="OpenModalPopUp()">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>RERent Id</th>
          <th>RE Rent</th> 
          <th>Payment Type</th>
          <th>Payment Method</th>
          <th>Payment</th>
          <th>Payment Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
        </tr>
      </tbody>
    </table>
</app-card>
