<div class="g-row">
<app-card [title]="title" (popUp)="OpenModalPopUp()">
  <div class="table-wrap">
    <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
      <thead>
        <tr>
          <th>S/N</th>
          <th>SITE NAME</th>
          <th>STATE</th>
          <th>DISTRICT</th>
          <th>VDC/MUNCIPALITY</th>
          <th>SITE WORK TYPE</th>
          <th>SITE WORK DETAILS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of siteData; let i = index" >
          <td>{{i+1}}</td>
          <td>{{e.SiteName}}</td>
          <td>{{e.State}}</td>
          <td>{{e.District}}</td>
          <td>{{e.Muncipality}}</td>
          <td>{{e.SiteWorkType}}</td>
          <td>{{e.SiteWorkDetail}}</td>
          <td> <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
</div>