<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #peincomeform="ngForm" (ngSubmit)="peIncomeSubmit(peincomeform.value)">
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Personal Equipment Id:</label>
                            <input type="text" [(ngModel)]="peIncome.PersonalEquipmentId" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Personal Equipment:</label>
                            <input type="text" [(ngModel)]="peIncome.PersonalEquipment" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Client Id:</label>
                            <input type="text" [(ngModel)]="peIncome.ClientId" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Client:</label>
                            <input type="text" [(ngModel)]="peIncome.Client" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Rate Type:</label>
                            <input type="text" [(ngModel)]="peIncome.RateType" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">From Date:</label>
                            <input type="text" [(ngModel)]="peIncome.FromDate" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">To Date:</label>
                            <input type="text" [(ngModel)]="peIncome.ToDate" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Rate:</label>
                            <input type="text" [(ngModel)]="peIncome.Rate" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Period:</label>
                            <input type="text" [(ngModel)]="peIncome.Period" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Income:</label>
                            <input type="text" [(ngModel)]="peIncome.Income" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" [(ngModel)]="peIncome.UDF1" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" [(ngModel)]="peIncome.UDF2" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <button type="submit" [disabled]="!peincomeform.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>
