<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #mspaymentform="ngForm" (ngSubmit)="msPaymentSubmit()">
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Material Sold ID:</label>
                            <input type="text" [(ngModel)]="data.MaterialSoldId" name="MaterialSoldId" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Material Sold:</label>
                            <input type="text" [(ngModel)]="data.MaterialSold" name="MaterialSold" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment:</label>
                            <input type="text" [(ngModel)]="data.Payment" name="Payment" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Method:</label>
                            <input type="text" [(ngModel)]="data.PaymentMethod" name="PaymentMethod" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Type:</label>
                            <input type="text" [(ngModel)]="data.PaymentType" name="PaymentType" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Date:</label>
                            <input type="text" [(ngModel)]="data.PaymentDate" name="PaymentDate" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" [(ngModel)]="data.UDF1" name="UDF1" class="form-control mb-2" id="usr">
                        </div>
                        <div class="col-sm-6">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" [(ngModel)]="data.UDF2" name="UDF2" class="form-control mb-2" id="usr">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" [disabled]="!mspaymentform.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>

