<app-card [title]="title" (popUp)="OpenModalPopUp()">
    <table class=" table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th> FULL NAME</th>
          <th> ADDRESS</th>
          <th> EMAIL</th>
          <th>CONTRACT NO</th>
          <th> IDENTITY TYPE</th>
          <th>IDENTITy NO</th>
          <th> EMPLOYEE TYPE</th>
          <th> EMPLOYEE PAYMENT TYPE</th>
          <th> IS ACTIVE</th>
          <th> DATE OF BIRTH</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td>MAnagemt</td>
          <td>Work on progress</td>
          <td>3</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
        </tr>
      </tbody>
    </table>
</app-card>