  <app-card [title]="title" (popUp)="OpenCreatePopUp()">
      <table class="table-bordered table-hover">
        <thead>
          <tr>
            <th>S/N</th>
            <th>FULL NAME</th>
            <th>ADDRESS</th>
            <th>EMAIL</th>
            <th>Contact No</th>
            <th>IDENTITY</th>
            <th>EMPLOYEE TYPE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor ="let e of empList;let i = index">
            <td>{{i+1}}</td>
            <td>{{e.FirstName +" "+ e.MiddleName+" " + e. LastName}}</td>
            <td>{{e.State + " "+ e.District +" "+e.Muncipality}}</td>
            <td>{{e.Email}}</td>
            <td>{{e.ContactNo}}</td>
            <td>{{e.IdentityType}} {{e.IdentityNo}}</td>
            <td>{{e.EmployeeType}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenEditPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (click)="onDeleteEmployee(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
  </app-card>