<div class="container-fluid">
    <h2> Fill Up The Personal Vehicle Income Information </h2>
    <div class="form-group">
      <div class="row mt-3 md-3">
        <div class="col-sm-6"><label for="usr"> PvId:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-6"><label for="usr"> PersonalVehicle:</label>
          <input type="text" class="form-control" id="usr">
        </div> 
        <div class="col-sm-4"><label for="usr">ClientId</label>
            <input type="text" class="form-control" id="usr">
      </div>
      <div class="row mt-3 md-3">
        <div class="col-sm-4"><label for="usr">Client:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr">RateType:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr">FromDate:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div><div class="row mt-3 md-3">
        <div class="col-sm-6"><label for="usr">ToDate:</label>
            <input type="text" class="form-control" id="usr">
          <div class="col-sm-6"><label for="usr"> Rate:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-6"><label for="usr"> Period:</label>
            <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row mt-3 md-3">
        <div class="col-sm-6"><label for="usr"> Income:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-6"><label for="usr">UDF1:</label>
            <input type="text" class="form-control" id="usr">
          <div class="col-sm-6"><label for="usr">UDF2:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        </div>
      </div>
        <div class="row mt-3 md-3">
  
          <div class="col-sm-6"><label for="usr">Sumbit:</label>
            <button type="button" class="btn btn-primary btn-lg mx-2">Submit</button>
          </div>
        </div>
    </div>
</div>

