<app-card [title]="title" (popUp)="OpenModalPopUp()">
    <table class="table table-hover table-bordered border-dark bg-light">
      <thead>
        <tr>
          <th>Vehicle Name</th>
          <th>Brand Name</th>
          <th>Model Name</th>
          <th>Number Plate</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
        </tr>
      </tbody>
    </table>
</app-card>