<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #pvboughtform="ngForm" (ngSubmit)="pvBoughtSubmit(pvboughtform.value)">
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">Vehicle Name</label>
                            <input type="text" [(ngModel)]="pvBought.PersonalVehicleId" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Brand Name:</label>
                            <input type="text" [(ngModel)]="pvBought.PersonalVehicle" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Model Name:</label>
                            <input type="text" [(ngModel)]="pvBought.VendorId" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">Number Plate:</label>
                            <input type="text" [(ngModel)]="pvBought.Vendor" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">Vehicle Type:</label>
                            <input type="text" [(ngModel)]="pvBought.BoughtPrice" name="name" class="form-control" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">UDF1:</label>
                            <input type="text" [(ngModel)]="pvBought.UDF1" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <label for="usr">UDF2:</label>
                            <input type="text" [(ngModel)]="pvBought.UDF2" name="name" class="form-control" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <button type="submit" [disabled]="pvBought.UDF2" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>
