<app-list-detail-card [title]="title">

    <ng-content>
    </ng-content>
    <div class="row">
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Site Name:</label></div>
                  <div class="col">1</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>State:</label></div>
                  <div class="col">Give Contract Name</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>District:</label></div>
                  <div class="col">2</div>
              </div>
          </div>
  
      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Muncipility:</label></div>
                  <div class="col">2020-01-01</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Site Work Type:</label></div>
                  <div class="col">2020-02-02</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Site Work Detail:</label></div>
                  <div class="col">2,00,00</div>
              </div>
          </div>
  
      </div>
      
        <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><label>UDF1:</label></div>
                <div class="col">Some Unknown Values</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>UDF2:</label></div>
                <div class="col">Some Unknown Values</div>
            </div>
        </div>      
      </div>
  </div>
  </app-list-detail-card>