
<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">  
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr class="">
            <th>S/N</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>Contract No</th>
            <th>Email</th>
            <th>Identity Type</th>
            <th>Identity Number</th>
            <th>Client Type</th>
            <th>Client Company Name</th>
            <th>Client Company Contact Number</th>
            <th>Client Company Identity Type</th>
            <th>Client Company Identity Number</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr class="p-2" *ngFor="let e of data;let i = index">
            <td>{{i+1}}</td>
            <td>{{e.FirstName+" "+ e.MiddleName+" "+e.LastName}}</td>
            <td>{{e.State+" "+e.District+" "+e.Muncipality }}</td>
            <td>{{e.ContactNo}}</td>
            <td>{{e.Email}}</td>
            <td> {{e.IdentityType}}</td>
            <td>{{e.IdentityNo}}</td>
            <td>{{e.ClientType}}</td>
            <td>{{e.ClientCompanyName}}</td>
            <td>{{e.ClientCompanyContactNo}}</td>
            <td>{{e.ClientCompanyIdentityType}}</td>
            <td>{{e.ClientCompanyIdentityNumber}}</td>
            <td> 
              <app-detail-button (click)="OpenDetailPopUp(e.id)">{{buttonTitle.Detail}}</app-detail-button>
              <app-detail-button (click)="OpenEditPopUp(e.id)">{{buttonTitle.Edit}}</app-detail-button>
              <app-detail-button (click)="deleteClientById(e.id)">{{buttonTitle.Delete}}</app-detail-button></td>
            </tr>
          </tbody>
        </table>
    </div>
</app-card>
</div>
