
<h3> PVEpenseslist </h3>

<div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th> Personal Vehicle Id</th>
          <th>Personal Vehicle</th>
          <th>Vendor Id</th> 
          <th>Vendor</th>
          <th>Expenses Type</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Expenses</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
          <td> Work on progress</td>
        </tr>
      </tbody>
    </table>
  </div>