<app-card [title]="title" (popUp)="OpenModalPopUp()">
  <div>
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>State</th>
          <th>District</th>
          <th>VDC/Municipality</th>
          <th>Contact Number</th>
          <th>Email address</th>
          <th>Identity Number</th>
          <th>Identity Type</th>
          <th>Company Name </th>
          <th>Company Contact No</th>
          <th>Company Identity Type</th>
          <th>Company Identity Number</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
          <td>  <app-detail-button (detailPopUp)="OpenDetailPopUp()">Detail</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp()">Edit</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp()">Delete</app-detail-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>