<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form #employeepaymentForm="ngForm" (ngSubmit)="onSubmitEmployeePayment()" novalidate>
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6"><label for="usr"> Employee :</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.Employee" name="Employee"  id="usr" required>
                        </div>
                        <div class="col-sm-6 "><label for="usr"> From Date:</label>
                            <input type="date" class="form-control mb-2 datepicker"  [(ngModel)]="data.FromDate" name="FromDate"  id="usr" required>
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4 "><label for="usr">To Date:</label>
                            <input type="date" class="form-control mb-2 datepicker"  [(ngModel)]="data.ToDate" name="ToDate"  id="usr" required>
                        </div>
                        <div class="col-sm-4"><label for="usr">Payment Rate:</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.PaymentRate" name="PaymentRate"  id="usr" required>
                        </div>
                        <div class="col-sm-4 "><label for="usr">Period:</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.Period" name="Period"  id="usr" required>
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4"><label for="usr">Payment:</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.Payment" name="Payment"  id="usr" required>
                        </div>
                        <div class="col-sm-4"><label for="usr">UDF 1:</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.UDF1" name="UDF1"  id="usr" required>
                        </div>
                        <div class="col-sm-4"><label for="usr">UDF 2:</label>
                            <input type="text" class="form-control mb-2"  [(ngModel)]="data.UDF2" name="UDF2"  id="usr" required>
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-outline-success btn-lg mx-2"[disabled]="!employeepaymentForm.form.valid">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>