<app-card-create [title]="title" >
<div class="container-fluid">
    
    <div class="container-fluid">
        <h3> PE BOUGHT FORM<FORM></FORM></h3>
        <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr"> PE BOUGHT ID:</label>
                <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-6"><label for="usr"> PE BOUGHT</label>
                  <input type="text" class="form-control" id="usr"></div>
          </div>
          </div> <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr"> PAYMENT METHOD:</label>
                <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-6"><label for="usr"> PAYMENT TYPE:</label>
                  <input type="text" class="form-control" id="usr"></div>
          </div> <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr"> PAYMENT:</label>
                <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-6"><label for="usr"> PAYMENT DATE:</label>
                  <input type="text" class="form-control" id="usr"></div>
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr"> UDF1:</label>
                <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-6"><label for="usr"> UDF2:</label>
                  <input type="text" class="form-control" id="usr"></div>
          </div>
        <div class="col-sm-6"><label for="usr">Sumbit:</label>
            <button type="button" class="btn btn-primary btn-lg mx-2">Submit</button>          </div>
    </div>
</app-card-create>
    
    