<app-card-create [title]="title">
  <div class="container-fluid">
    <div class="card-body">
      <form action="" #reIncomeForm="ngForm" (ngSubmit)="reIncomeSubmit(reIncomeForm.value)" >

      <div class="form-group">
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Rented Equipment Id:</label>
            <input type="text"[(ngModel)]="reIncome.RentedEquipmentId" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr"> Rented Equipment:</label>
            <input type="text"[(ngModel)]="reIncome.RentedEquipment" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr"> Client Id:</label>
            <input type="text"[(ngModel)]="reIncome.ClientId" name="name" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Client:</label>
            <input type="text"[(ngModel)]="reIncome.Client" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Rate Type:</label>
            <input type="text"[(ngModel)]="reIncome.RateType" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">From Date:</label>
            <input type="text"[(ngModel)]="reIncome.FromDate" name="name" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">To Date:</label>
            <input type="text"[(ngModel)]="reIncome.ToDate" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Rate</label>
            <input type="text"[(ngModel)]="reIncome.Rate" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Period:</label>
            <input type="text"[(ngModel)]="reIncome.Period" name="name" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Income:</label>
            <input type="text"[(ngModel)]="reIncome.Income" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">UDF1:</label>
            <input type="text"[(ngModel)]="reIncome.UDF1" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">UDF2:</label>
            <input type="text"[(ngModel)]="reIncome.UDF2" name="name" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">

          <div class="col-sm-6">
            <button type="submit" [disabled]="!reIncomeForm.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</app-card-create>