<app-list-detail-card [title]="title">
  <div class="row">
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Lockout End:</label></div>
                  <div class="col">1</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Two Factor Enabled:</label></div>
                  <div class="col">Give client Name</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Phone Number Confirmed:</label></div>
                  <div class="col">Give client Name</div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Phone Numebr:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Concurency Stamp:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Security Stamp:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Password Hash:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Email Comfirmed:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Normalized Email:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Email:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Normalized User Name:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>User Name:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>ID:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Lockout Enabled:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Access Failed Count:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>

      </div>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col"><label>Employee ID:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>
          <div class="col">
              <div class="row">
                  <div class="col"><label>Employee:</label></div>
                  <div class="col">Some Unknown Values</div>
              </div>
          </div>

      </div>
  </div>
</app-list-detail-card>