<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr>
            <th>ID</th>
            <th>TAKE CONTRACT ID</th>
            <th>TAKE CONTRACT</th>
            <th>ADDITIONAL PERIOD</th>
            <th>DATE FROM</th>
            <th> TO DATE</th>
            <th>ADDITIONAL BUDGET</th>
            <th>DETAIL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>NIX HOUSE SITE</td>
            <td>3</td>
            <td>BAgmati</td>
            <td>Construction</td>
            <td> MAnagemt</td>
            <td> Work on progress</td>

            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp()">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>