<app-list-detail-card [title]="title">
    <div class="row" *ngFor="let detail of details">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>first Name:</label>
                    </div>
                    <div class="col">{{detail.FirstName}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Middle Name:</label>
                    </div>
                    <div class="col">{{detail.MiddleName}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Last Name:</label>
                    </div>
                    <div class="col">{{detail.LastName}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>State:</label>
                    </div>
                    <div class="col">{{detail.State}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>District:</label>
                    </div>
                    <div class="col">{{detail.District}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Muncipality:</label>
                    </div>
                    <div class="col">{{detail.Muncipality}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Contact Number:</label>
                    </div>
                    <div class="col">{{detail.ContactNo}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Email:</label>
                    </div>
                    <div class="col">{{detail.Email}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Identity Type:</label>
                    </div>
                    <div class="col">{{detail.IdentityType}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Identity Number:</label>
                    </div>
                    <div class="col">{{detail.IdentityNo}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Employee Type:</label>
                    </div>
                    <div class="col">{{detail.EmployeeType}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Employee Payment Type:</label>
                    </div>
                    <div class="col">{{detail.EmployeePaymentType}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Is Active:</label>
                    </div>
                    <div class="col">{{detail.IsActive}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>Date Of Birth:</label>
                    </div>
                    <div class="col">{{detail.DateofBirth}}</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <label>UDF1:</label>
                    </div>
                    <div class="col">{{detail.UDF1}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <label>UDF2:</label>
                    </div>
                    <div class="col">{{detail.UDF2}}</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>

