<app-list-detail-card [title]="title">
    <div class="row">
        <!-- This row will contain 3 columns -->
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>first Name:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Middle Name:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Last Name:</label></div>
                    <div class="col">45</div>
                </div>
            </div>
        </div>
        <!-- This row will contain 3 columns -->
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>State:</label></div>
                    <div class="col">Dhapakhel</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>District:</label></div>
                    <div class="col">2020/03/04</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Muncipality:</label></div>
                    <div class="col">2020/03/04</div>
                </div>
            </div>
        </div>
        <!-- This row will contain 3 columns -->
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Contact Number:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Email:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Identity Type:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Identity Number:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Employee Type:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Employee Payment Type:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Is Active:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>Date Of Birth:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>UDF1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- This row will contain two column -->
                <!-- One for label and another for value -->
                <div class="row">
                    <div class="col"><label>UDF2:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>