<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-light">
        <thead>
          <tr>
            <th>S/N</th>
            <th> PERSONAL EQUIPMENT ID</th>
            <th>PERSONAL EQUPMENT</th>
            <th>CLIENT ID</th>
            <th>CLIENT</th>
            <th>RATE TYPE</th>
            <th>FROM DATE</th>
            <TH>TO DATE</TH>
            <TH>RATE</TH>
            <TH>PERIOD</TH>
            <TH>INCOME</TH>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of peIncomeData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.PersonalEquipmentId}}</td>
            <td>{{e.PersonalEquipment}}</td>
            <td>{{e.ClientId}}</td>
            <td>{{e.Client}}</td>
            <td>{{e.RateType}}</td>
            <td>{{e.FromDate}}</td>
            <TD>{{e.ToDate}}</TD>
            <TD>{{e.Rate}}</TD>
            <TD>{{e.Period}}</TD>
            <td>{{e.Income}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>