<app-card [title]="title" (popUp)="OpenModalPopUp()">
<div>

<div class="container-fluid">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th> PERSONAL EQUIPMENT ID</th>
          <th>PERSONAL EQUPMENT</th>
          <th>CLIENT ID</th>
          <th>CLIENT</th>
          <th>RATE TYPE</th>
          <th>FROM DATE</th>
          <TH>TO DATE</TH>
          <TH>RATE</TH>
          <TH>PERIOD</TH>
          <TH>INCOME</TH>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
          <td> Work on progress</td>
          <TD>TO DTAE </TD>
          <TD>12000</TD>
          <TD>ONE</TD>
          <TH>TWO</TH>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</app-card>