<app-list-detail-card [title]="title">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vehicle Name:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Brand Name:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Model Name:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>

        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Number Plate:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vehicle Type:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 2:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>
