<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr>
            <th>S/N</th>
            <th> CLIENT ID</th>
            <th> CLIENT</th>
            <th> SITE</th>
            <th>CONTRACT FINISHED PERIOD</th>
            <th> CONTRACT START DATE</th>
            <th>CONTRACT FINISHED DATE</th>
            <th> CONTRACT AMOUNT</th>
            <th> DETAIL</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of gcData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.ClientId}}</td>
            <td>{{e.Client}}</td>
            <td>{{e.Site}}</td>
            <td>{{e.ContractFinishedPeriod}}</td>
            <td> {{e.ContractStartDate}}</td>
            <td> {{e.ContractFinishedDate}}</td>
            <td>{{e.ContractAmount}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>