<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="table-wrap">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
        <thead>
          <tr>
            <th>S/N</th>
            <th> TAKE CONTRACT ID</th>
            <th> TAKE CONTRACT</th>
            <th> PAYMENT TYPE</th>
            <th>PAYMENT METHOD</th>
            <th> PAYMENT</th>
            <th>PAYMENT DATE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of tcPaymentData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.TakeContractId}}</td>
            <td>{{e.TakeContract}}</td>
            <td>{{e.PaymentType}}</td>
            <td>{{e.PaymentMethod}}</td>
            <td> {{e.Payment}}</td>
            <td> {{e.PaymentDate}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>