<app-list-detail-card [title]="title">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Labour Site Id :</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Labour Site:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Form Date:</label></div>
                    <div class="col">45</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>To Date:</label></div>
                    <div class="col">Dhapakhel</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Rate:</label></div>
                    <div class="col">2020/03/04</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Period:</label></div>
                    <div class="col">2020/03/04</div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1 :</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 2 :</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>