<app-card-create [title]="title" >

<div class="container-fluid bg-light">
    <div class="form-group">
        <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr"> TAKE CONTRACT:</label>
                 <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-4"><label for="usr"> ADDITIONAL PERIOD:</label>
                <input type="text" class="form-control" id="usr"></div>
                <div class="col-sm-4"><label for="usr"> ADDITIONAL BUDGET</label>
                    <input type="text" class="form-control" id="usr"></div>
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr">FORM DATE:</label>
                <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-4"><label for="usr">TO DATE:</label>
                  <input type="text" class="form-control" id="usr"></div>
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr">UDT 1:</label>
            <input type="text" class="form-control" id="usr"></div>
            <div class="col-sm-6"><label for="usr">UDT 2:</label>
             <input type="text" class="form-control" id="usr"></div>
          </div>
          <div class="row mt-3 md-3">
            
            <div class="col-sm-6"><label for="usr">Sumbit:</label>
                <button type="button" class="btn btn-outline-primary btn-lg mx-2">Submit</button>          </div>
    </div>
 </div>
</div>
</app-card-create> 
