<h3> personal vehicle bought list Table Information </h3>

<div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Personal Vehicle Id</th>
          <th>Personal Vehicle</th> 
          <th>Vendor Id</th>
          <th>Vendor</th>
          <th>Bought Price</th>
          <th>Bought Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
        </tr>
      </tbody>
    </table>
  </div>
