<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-light">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Personal Vehicle Id</th>
            <th>Personal Vehicle</th>
            <th>Vendor Id</th>
            <th>Vendor</th>
            <th>Bought Price</th>
            <th>Bought Date</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of pvBoughtData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.PersonalVehicleId}}</td>
            <td>{{e.PersonalVehicle}}</td>
            <td>{{e.VendorId}}</td>
            <td>{{e.Vendor}}</td>
            <td>{{e.BoughtPrice}}</td>
            <td>{{e.BoughtDate}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>