<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="post" #materialform="ngForm" (ngSubmit)="submit()" >
                <div class="form-group text-uppercase" >
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6"><label for="usr"> Material Name:</label>
                            <input type="text"[(ngModel)]="data.MaterialName"
                            name="MaterialName"
                            class="form-control mb-2 text-uppercase"
                            #materialName="ngModel"
                            minlength="3"
                            maxlength="30"
                            [class.is-invalid]="materialName.dirty && materialName.invalid"
                             id="usr"
                             required="true">
                        </div>
                        <div class="col-sm-6"><label for="usr"> Measurement Type:</label>
                            <input type="text"
                            [(ngModel)]="data.MeasurementType"
                            name="MeasurementType"
                            class="form-control mb-2"
                            id="usr"
                            #measurementType="ngModel"
                            minlength="1"
                            maxlength="10"
                            required="true">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-6"><label for="usr"> UDF1:</label>
                            <input type="text"
                            [(ngModel)]="data.UDF1"
                            name="UDF1"
                            class="form-control mb-2"
                            id="usr">
                        </div>
                        <div class="col-sm-6"><label for="usr"> UDF2:</label>
                            <input type="text"
                            [(ngModel)]="data.UDF2"
                            name="UDF2"
                            class="form-control mb-2"
                            id="usr">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit"
                         class="btn btn-outline-success btn-lg mx-2 mt-3"
                         [disabled]="!materialform.form.valid"
                         >Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>