<app-card-create [title]="title">
  <div class="container-fluid">
    <div class="card-body">
      <div class="form-group">
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Rented Equipment Id:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr"> Rented Equipment:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr"> Vendor Id:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Vendor:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Expenses Type:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">From Date:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">To Date:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Expenses:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">UDF1:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-6"><label for="usr">UDF2:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">

          <div class="col-sm-6">
            <button type="button" class="btn btn-outline-success btn-lg mx-2">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-card-create>