  <app-card [title]="title" (popUp)="OpenModalPopUp()">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>S/N</th>
            <th>MATERIAL NAME</th>
            <th> MEASUREMENT TYPE</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of materialData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.MaterialName}}</td>
            <td>{{e.MeasurementType}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
  </app-card>