<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive table-bordered bg-white">
        <thead>
          <tr>
            <th>S/N</th>
            <th>EQUIPMENT NAME</th>
            <th>BRAND NAME</th>
            <th>MODEL NAME</th>
            <th>BOUGHT DATE</th>
            <th>EQUIPMENT TYPE</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of peData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.EquipmentName}}</td>
            <td>{{e.BrandName}}</td>
            <td>{{e.ModelName}}</td>
            <td>{{e.BoughtDate}}</td>
            <td>{{e.EquipmentType}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>