<p>personalequipmentlist works!</p>

<h3>  PERSONAL EQUIPMENT LIST </h3>

<div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>  EQUIPMENT NAME</th>
          <th>BRAND NAME</th>
          <th>MODEL NAME</th>
          <th>BOUGHT DATE</th>
          <th>EQUIPMENT TYPE</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
        </tr>
      </tbody>
    </table>
  </div>