<app-extendgivecontractdetail></app-extendgivecontractdetail>
<app-gcppaymenttransactiondetail></app-gcppaymenttransactiondetail>
<app-givecontractdetail></app-givecontractdetail>
<app-takecontractdetail></app-takecontractdetail>
<app-tcppaymenttransactiondetail></app-tcppaymenttransactiondetail>
<app-employeedetail></app-employeedetail>
<app-employeepaymentdetail></app-employeepaymentdetail>
<app-labourdetail></app-labourdetail>
<app-labourpaymentdetail></app-labourpaymentdetail>
<app-laboursitedetail></app-laboursitedetail>
<app-materialdetail></app-materialdetail>
<app-materialboughtdetail></app-materialboughtdetail>
<app-materialsolddetail></app-materialsolddetail>
<app-materialstockdetail></app-materialstockdetail>