<app-card-create [title]="title">
  <div class="container-fluid">
    <div class="card-body">
      <form action="" #rvrPaymentTransactionForm="ngForm" (ngSubmit)="rvrPaymentTransactionSubmit(rvrPaymentTransactionForm.value)" > 

      <div class="form-group">

        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">RV Rent Id:</label>
            <input type="text"[(ngModel)]="rvrPaymentTransaction.RVRentId " name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">RV Rent:</label>
            <input type="text"[(ngModel)]="rvrPaymentTransaction.RVRent" name="name" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">Payment Type:</label>
            <input type="text"[(ngModel)]="rvrPaymentTransaction.PaymentType" name="name" class="form-control" id="usr">
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr">Payment Method:</label>
              <input type="text"[(ngModel)]="rvrPaymentTransaction.PaymentMethod" name="name" class="form-control" id="usr">
            </div>
            <div class="col-sm-4"><label for="usr">Payment:</label>
              <input type="text"[(ngModel)]="rvrPaymentTransaction.Payment" name="name" class="form-control" id="usr">
            </div>

            <div class="col-sm-4"><label for="usr">Payment Date:</label>
              <input type="text"[(ngModel)]="rvrPaymentTransaction.PaymentDate" name="name" class="form-control" id="usr">
            </div>

          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-6"><label for="usr">UDF1:</label>
              <input type="text"[(ngModel)]="rvrPaymentTransaction.UDF1" name="name" class="form-control" id="usr">
            </div>
            <div class="col-sm-6"><label for="usr">UDF2:</label>
              <input type="text"[(ngModel)]="rvrPaymentTransaction.UDF2" name="name" class="form-control" id="usr">
            </div>
          </div>
          <div class="row mt-3 md-3">

            <div class="col-sm-6">
              <button type="submit" [disabled]="!rvrPaymentTransactionForm.valid" class="btn btn-outline-success btn-lg mx-2">Submit</button>
            </div>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</app-card-create>