<div class="g-row">
<app-card [title]="title" (popUp)="OpenModalPopUp()">
  <div class="card-body">
  <table class="table table-hover table-responsive table-bordered bg-light">
    <thead>
        <tr>
          <th>S/N</th>
          <th>Rented Equipment Id</th>
          <th>Rented Equipment</th> 
          <th>Client Id</th>
          <th>Client</th>
          <th>Rate Type</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Rate</th>
          <th>Period</th>
          <th>Income</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of reiData; let i = index">
          <td>{{i+1}}</td>
          <td>{{e.RentedEquipmentId}}</td>
          <td>{{e.RentedEquipment}}</td>
          <td>{{e.ClientId}}</td>
          <td>{{e.Client}}</td>
          <td>{{e.RateType}}</td>
          <td>{{e.FromDate}}</td>
          <td>{{e.ToDate}}</td>
          <td>{{e.Rate}}</td>
          <td>{{e.Period}}</td>
          <td>{{e.Income}}</td>
          <td> <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
</div>