<h3> reincome transaction list Table Information </h3>

<div class="container-fluid">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Rented Equipment Id</th>
          <th>Rented Equipment</th> 
          <th>Client Id</th>
          <th>Client</th>
          <th>Rate Type</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Rate</th>
          <th>Period</th>
          <th>Income</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
        </tr>
      </tbody>
    </table>
  </div>
