<app-card [title]="title" (popUp)="OpenModalPopUp()">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>Rented Equipment Id</th>
          <th>Rented Equipment</th> 
          <th>Client Id</th>
          <th>Client</th>
          <th>Rate Type</th>
          <th>From Date</th>
          <th>To Date</th>
          <th>Rate</th>
          <th>Period</th>
          <th>Income</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> <app-detail-button (detailPopUp)="OpenDetailPopUp()">Detail</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp()">Edit</app-detail-button>
            <app-detail-button (detailPopUp)="OpenDetailPopUp()">Delete</app-detail-button></td>
        </tr>
      </tbody>
    </table>
</app-card>