<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="table-wrap">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
        <thead>
          <tr scope="row">
            <th scope="col">S/N</th>
            <th scope="col"> CLIENT ID</th>
            <th scope="col"> CLIENT</th>
            <th scope="col"> SITE</th>
            <th scope="col">CONTRACT FINISHED PERIOD</th>
            <th scope="col"> CONTRACT START DATE</th>
            <th scope="col">CONTRACT FINISHED DATE</th>
            <th scope="col"> CONTRACT AMOUNT</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row" *ngFor="let e of tcData; let i = index">
            <td scope="col">{{i+1}}</td>
            <td scope="col">{{e.ClientId}}</td>
            <td scope="col">{{e.Client}}</td>
            <td scope="col">{{e.Site}}</td>
            <td scope="col">{{e.ContractFinishedPeriod}}</td>
            <td scope="col"> {{e.ContractStartDate}}</td>
            <td scope="col"> {{e.ContractFinishedDate}}</td>
            <td scope="col">{{e.ContractAmount}}</td>
            <td scope="col">
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>