<div class="g-row">
  <app-card [title]="title" (popUp)="OpenCreate()">
    <div class="card-body">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">

        <thead>
          <tr>
            <th>S/N</th>
            <th>GIVE CONTRACT ID</th>
            <th>GIVE CONTRACT</th>
            <th>ADDITIONAL PERIOD</th>
            <th>DATE FROM</th>
            <th> TO DATE</th>
            <th>ADDITIONAL BUDGET</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let e of data; let i= index">
            <td>{{i+1}}</td>
            <td>{{e.GiveContractId}}</td>
            <td>{{e.GiveContract}}</td>
            <td>{{e.AdditionalPeriod}}</td>
            <td>{{e.DateFrom}}</td>
            <td> {{e.ToDate}}</td>
            <td> {{e.AdditionalBudget}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetail(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenEdit(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDelete(e.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>