<app-list-detail-card [title]="title">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Equipment ID:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Equipment:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vendor ID:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>

        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vendor:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Expenses Type:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>From Date:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>To Date:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Expenses:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 2:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>

        </div>
    </div>
</app-list-detail-card>
