<app-list-detail-card [title]="title">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Rented Vehicle ID:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Rented Vehicle:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vendor ID:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Vendoe:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Site ID:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Site ID:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Site:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Rent Amount:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>From Amount:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>From Date:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>To Date:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 2:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>

        </div>
    </div>
</app-list-detail-card>