<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #pebPaymentForm (ngSubmit)="pebPaymentSubmit(pebPaymentForm.value)">
                <div class="form-group">
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                PE Bought ID:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                PE Bought:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Method:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Method:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Type:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                    <div class="row mt-3 md-3">
                        <div class="col-sm-4">
                            <label for="usr">
                                Payment Date:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF1:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                        <div class="col-sm-4">
                            <label for="usr">
                                UDF2:</label>
                            <input type="text" class="form-control" [(ngModel)]="pebPayment.Payment" name="name" id="usr">
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-sm-6">
                        <button type="submit" [disabled]="" class="btn btn-outline-success btn-lg mx-2">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-card-create>
