<app-card [title]="title" (popUp)="OpenModalPopUp()">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>S/N</th>
        <th>MATERIAL</th>
        <th>QUANTITY</th>
        <th>RATE</th>
        <th>TOTAL PRICE</th>
        <TH>SOLD PRICE</TH>
        <TH>ACTION</TH>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of materialSoldData; let i = index">
        <td>{{i+1}}</td>
        <td>{{e.MAterial}}</td>
        <td>{{e.Quantity}}</td>
        <td>{{e.Rate}}</td>
        <td>{{e.TotalPrice}}</td>
        <td>{{e.SoldPrice}}</td>
        <td>
          <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
          <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
          <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>