<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-bodered table-responsive bg-light">
        <thead>
          <tr>
            <th>S/N</th>
            <th> EMPLOYEE ID</th>
            <th> EMPLOYEE</th>
            <th> FORM DATE</th>
            <th>TO DATE</th>
            <th> PAYMENT RATE</th>
            <th>PERIOD </th>
            <th> PAYMENT</th>
            <th> ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let epay of empPayment; let i = index">
            <td>{{i+1}}</td>
            <td>{{epay.EmployeeId}}</td>
            <td>{{epay.Employee}}</td>
            <td>{{epay.FromDate}}</td>
            <td>{{epay.ToDate}}</td>
            <td> {{epay.PaymentRate}}</td>
            <td> {{epay.Period}}</td>
            <td>{{epay.Payment}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(epay.id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenEditPopUp(epay.id)">Edit</app-detail-button>
              <app-detail-button (click)="onDeleteEmployee(epay.id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>