<div class="row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="card-body">
      <table class="table table-hover table-responsive bg-light p-3">
        <thead class="row">
          <tr class="row" >
            <th class="col-sm">S/N</th>
            <th class="col-sm"> EMPLOYEE ID</th>
            <th class="col-sm"> EMPLOYEE</th>
            <th class="col-sm"> FORM DATE</th>
            <th class="col-sm">TO DATE</th>
            <th class="col-sm"> PAYMENT RATE</th>
            <th class="col-sm">PERIOD </th>
            <th class="col-sm"> PAYMENT</th>
            <th class="col-sm"> ACTION</th>
          </tr>
        </thead>
        <tbody class="row">
          <tr *ngFor="let epay of empPayment; let i = index" class="row">
            <td class="col-sm">{{i+1}}</td>
            <td class="col-sm">{{epay.EmployeeId}}</td>
            <td class="col-sm">{{epay.Employee}}</td>
            <td class="col-sm">{{epay.FromDate}}</td>
            <td class="col-sm">{{epay.ToDate}}</td>
            <td class="col-sm"> {{epay.PaymentRate}}</td>
            <td class="col-sm"> {{epay.Period}}</td>
            <td class="col-sm">{{epay.Payment}}</td>
            <td class="col-sm">
              <app-detail-button (detailPopUp)="OpenDetailPopUp(epay.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenEditPopUp(epay.Id)">Edit</app-detail-button>
              <app-detail-button (click)="onDeleteEmployee(epay.Id)">Delete</app-detail-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>