/* You can add global styles to this file, and also import other style files */
table{
    font-size: 12px;
    width: 100%!important;
    
}

th{
    text-transform: capitalize;	/* Transforms the first character of each word to uppercase */
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}
  