<div class="row">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><label>Take Contract Id :</label></div>
                <div class="col">1</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>Take Contract :</label></div>
                <div class="col">Give Contract Name</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>Additional Period :</label></div>
                <div class="col">2</div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><label>Date From :</label></div>
                <div class="col">2020-01-01</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>To Date :</label></div>
                <div class="col">2020-02-02</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>Additional Budget :</label></div>
                <div class="col">2,00,00</div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col"><label>UDF 1 :</label></div>
                <div class="col">Some Unknown Values</div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><label>UDF 2 :</label></div>
                <div class="col">Some Unknown Values</div>
            </div>
        </div>
    </div>
</div>