<app-list-detail-card [title]="title">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Material Sold ID:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Material Type:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Method:</label></div>
                    <div class="col">1</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Type:</label></div>
                    <div class="col">Give client Name</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>Payment Date:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col"><label>UDF 1:</label></div>
                    <div class="col">Some Unknown Values</div>
                </div>
            </div>
        </div>
    </div>
</app-list-detail-card>