<div class="g-row">
  <app-card [title]="title" (popUp)="OpenModalPopUp()">
    <div class="table-wrap">
      <table class="table table-bordered table-responsive table-hover align-text-top text-uppercase w-auto">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Vehicle Name</th>
            <th>Brand Name</th>
            <th>Model Name</th>
            <th>Number Plate</th>
            <th>Vehicle Type</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of pvData; let i = index">
            <td>{{i+1}}</td>
            <td>{{e.VehicleName}}</td>
            <td>{{e.BrandName}}</td>
            <td>{{e.ModelName}}</td>
            <td>{{e.NumberPlate}}</td>
            <td>{{e.VehicleType}}</td>
            <td>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Detail</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Edit</app-detail-button>
              <app-detail-button (detailPopUp)="OpenDetailPopUp(e.Id)">Delete</app-detail-button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>