<app-card-create [title]="title">
  <div class="container-fluid">
    <div class="card-body">
      <form #myForm ="ngForm" >
        <div class="form-group">
          <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr"> First Name:</label>
              <input type="text" class="form-control" [(ngModel)]="client.FirstName" name="name"  id="usr" required >
            </div>
            <div class="col-sm-4"><label for="usr"> Midddle Name:</label>
              <input type="text" class="form-control" [(ngModel)]="client.MiddleName" name="name"  id="usr"  required >
            </div>
            <div class="col-sm-4"><label for="usr"> Last Name:</label>
              <input type="text" class="form-control" [(ngModel)]="client.LastName" name ="name" id="usr">
            </div>
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr">State:</label>
              <input type="text" class="form-control" [(ngModel)]="client.State"  id="usr" name="name"  required >
            </div>
            <div class="col-sm-4"><label for="usr">District:</label>
              <input type="text" class="form-control" [(ngModel)]="client.District" id="usr" name="name"  required >
            </div>
            <div class="col-sm-4"><label for="usr">VDC/Municipality:</label>
              <input type="text" class="form-control" [(ngModel)]="client.Muncipality"  id="usr" name="name"  required >
            </div>
          </div>
          <div class="row mt-3 md-3">
            <div class="col-sm-4"><label for="usr">Client Contact Number:</label>
                 <input type="text" class="form-control" [(ngModel)]="client.ClientCompanyContactNumber" id="usr" name="name"  required >
            </div>
            <div class="col-sm-4"><label for="usr">Contact Number:</label>
                  <input type="text" class="form-control" [(ngModel)]="client.ContactNo" id="usr" name="name"  required >
            </div>
            <div class="col-sm-4">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" [(ngModel)]="client.Email">
            </div>
          </div>
            <div class="row mt-3 md-3">
              <div class="col-sm-4"><label for="usr">Identity Number:</label>
                <input type="text" class="form-control" [(ngModel)]="client.IdentityNo"  id="usr" name="name"  required >
              </div>
              <div class="col-sm-4"><label for="usr">Identity Type:</label>
                <input type="text" class="form-control" [(ngModel)]="client.IdentityType" id="usr" name="name"  required >
              </div>
              <div class="col-sm-4"><label for="usr">Client C Name:</label>
                <input type="text" class="form-control" [(ngModel)]="client.ClientCompanyName"  id="usr" name="name"  required >
              </div>
            </div>
            <div class="row mt-3 md-3">
              <div class="col-sm-4"><label for="usr">Client C Type:</label>
                <input type="text" class="form-control" [(ngModel)]="client"  id="usr" name="name"  required >
              </div>
              <div class="col-sm-4"><label for="usr">Client C Idenity Number:</label>
                <input type="text" class="form-control" [(ngModel)]="client.ClientCompanyIdentityNumber"  id="usr" name="name"  required >
              </div>
              <div class="col-sm-4"><label for="usr">Client Type:</label>
                <input type="text" class="form-control" [(ngModel)]="client.ClientType"  id="usr" name="name"  required >
              </div>
            </div>
            <div class="row mt-3 md-3">
              <div class="col-sm-6"><label for="usr">UDT 1:</label>
                <input type="text" class="form-control" [(ngModel)]="client.FirstName" id="usr" name="name"  required >
              </div>
              <div class="col-sm-6"><label for="usr">UDT 2:</label>
                <input type="text" class="form-control" [(ngModel)]="client.FirstName" id="usr" name="name"  required >
              </div>
            </div>
            <div class="row mt-3 md-3">
              <div class="col-sm-6">
                <button type="button" class="btn btn-outline-success btn-lg mx-2">Submit</button>
              </div>
            </div>
          </div>  
      </form>
      </div>
    </div>
</app-card-create>