<div class="container-fluid">
    <h2> Fill Up The PVI Payment transaction Information </h2>
    <div class="form-group">
      <div class="row mt-3 md-3">
        <div class="col-sm-6"><label for="usr"> PV ncome ID:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-6"><label for="usr"> PV Income:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row mt-3 md-3">
        <div class="col-sm-4"><label for="usr">Payment Type:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr"> Payment Method: </label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr"> Payment:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row mt-3 md-3">
        <div class="col-sm-4"><label for="usr"> Payment Date:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        <div class="col-sm-6"><label for="usr">UDF1:</label>
            <input type="text" class="form-control" id="usr">
          <div class="col-sm-6"><label for="usr">UDF2:</label>
            <input type="text" class="form-control" id="usr">
        </div>
        </div>
      </div>
        <div class="row mt-3 md-3">
  
          <div class="col-sm-6"><label for="usr">Sumbit:</label>
            <button type="button" class="btn btn-primary btn-lg mx-2">Submit</button>
          </div>
        </div>
    </div>
</div>

