<app-card [title]="title" (popUp)="OpenModalPopUp()">
    <table class="table table-hover table-bordered border-dark bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th> MATERIAL BOUGHT ID</th>
          <th> MATERIAL BOUGHT</th>
          <TH>PAYMENT</TH>
          <th> PAYMENT TYPE</th>
          <th>PAYMENT DATE</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>NIX  HOUSE SITE</td>
          <td>3</td>
          <td>BAgmati</td>
          <td>Construction</td>
          <td> MAnagemt</td>
        </tr>
      </tbody>
    </table>
</app-card>