<app-card-create [title]="title" >
<div class="container-fluid">
    <h2> Fill Up The Rented Vehicle Rent Information </h2>
    <div class="form-group">
      <div class="row mt-3 md-3">
        <div class="col-sm-4"><label for="usr"> Rented Vehicle Id:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr"> Rented Vehicle:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr"> Vendor Id:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row mt-3 md-3">
        <div class="col-sm-4"><label for="usr">Vendor:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr">Site Id:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr">Site:</label>
          <input type="text" class="form-control" id="usr">
        </div>
      </div>
      <div class="row mt-3 md-3">
  
        <div class="col-sm-4"><label for="usr">Rent Amount:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-4"><label for="usr">From Date:</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="col-sm-6"><label for="usr">To Date:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
          <div class="col-sm-4"><label for="usr">Email:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">UDF1:</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="col-sm-4"><label for="usr">UDF2:</label>
            <input type="text" class="form-control" id="usr">
          </div>
        </div>
        <div class="row mt-3 md-3">
  
          <div class="col-sm-6"><label for="usr">Sumbit:</label>
            <button type="button" class="btn btn-primary btn-lg mx-2">Submit</button>
          </div>
        </div>
      </div>
</div>
</app-card-create>