<app-card-create [title]="title">
    <div class="container-fluid">
        <div class="card-body">
            <form action="" #labourDataForm="ngForm" (ngSubmit)="onLabourSubmit(labourDataForm.value)">
            <div class="form-group">
                <div class="row mt-3 md-3">
                    <div class="col-sm-4">
                        <label for="usr">
                            First Name:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.FirstName" name="FirstName" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">
                            Midddle Name:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.MiddleName" name="MiddleName" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">
                            Last Name:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.LastName" name="LastName" id="usr" required>
                    </div>
                </div>
                <div class="row mt-3 md-3">
                    <div class="col-sm-4">
                        <label for="usr">State:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.State" name="State" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">District:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.District" name="District" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">VDC/Municipality:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.Muncipality" name="Municipality"  id="usr" required>
                    </div>
                </div>
                <div class="row mt-3 md-3">
                    <div class="col-sm-4">
                        <label for="usr">Contact Number:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.State" name="ContactNo" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"(ngModel)="labourData.Email" name="Email" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">Identity Number:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.IdentityNo" name="IdentityNumber" id="usr" required>
                    </div>
                </div>
                <div class="row mt-3 md-3">
                    <div class="col-sm-4">
                        <label for="usr">Identity Type:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.IdentityType" name="IdentityType" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">
                            LabourData Type:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.LabourType" name="LabourType" id="usr" required>
                    </div>
                    <div class="col-sm-4">
                        <label for="usr">DOB:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.DateOfBirth" name="DateOfBirth" id="usr" required>
                    </div>
                </div>
                <div class="row mt-3 md-3">
                    <div class="col-sm-6">
                        <label for="usr">UDT 1:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.UDF1" name="UDF1" id="usr" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="usr">UDT 2:</label>
                        <input type="text" class="form-control" (ngModel)="labourData.UDF2" name="UDF2" id="usr" required>
                    </div>
                </div>
                <div class="row mt-3 md-3">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-outline-success btn-lg mx-2" [disabled]="labourDataForm.form.valid">Submit</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</app-card-create>
